letloop

*.so
*.wpo
*~

__pycache__/
dist

local/bin/letloop
local/bin/petite
local/bin/scheme
local/bin/scheme-script
local/include
local/lib
local/man
local/opt
local/rootfs
local/share
local/src
local/var
local/tmp